<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MonRéseau - Feed</title>
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/feed.css">
</head>

<body>
  <!-- En-tête de navigation -->
  <%- include('./toast.ejs') %>
    <header class="header">
      <h1>MonRéseau</h1>
      <nav>
        <span>Connecté en tant que <%= locals.user.email %></span>
        <a href="/feed">Mon feed</a>
        <a href="/profile">Mon profil</a>
        <a href="/logout">Déconnexion</a>
      </nav>
    </header>

    <!-- Zone principale du feed -->
    <div class="feed-container">
      <!-- Liste des posts -->
      <% for (let post of locals.posts) { %>
        <div class="post">
          <div class="post-header">
            <% if (post.author) { %>
              <img src="<%= post.author.image %>" alt="Avatar">
              <span class="username">
                <%= post.author.firstname %>
                  <%= post.author.lastname %>
              </span>
              <% } else { %>
                <img src="/images/avatar-dessin-anime-rendu-3d-isole_570939-89.jpg" alt="Avatar">
                <span class="username">Utilisateur inconnu</span>
                <% } %>
          </div>
          <div class="post-content">
            <%= post.body %>
          </div>
          <div class="post-footer">
            Posté le <%= post.created_at %>
          </div>
        </div>
        <% } %>
    </div>

    <!-- Liste des utilisateurs -->
    <div class="users-online">
      <h2>Utilisateurs</h2>
      <ul>
        <% for (let user of locals.users) { %>
          <li>
            <img src="<%= user.image %>" />
            <%= user.firstname %>
              <%= user.lastname %>
          </li>
          <% } %>
      </ul>
    </div>
</body>

</html>